body
{
	background-image : url('https://t4.ftcdn.net/jpg/03/28/51/53/240_F_328515315_4M6xwhwctZ94bIZZaSSX4mLcPSAJKHXE.jpg');
	background-size:contain;
	font-family:'Trebuchet MS';
}
.center{
		position : fixed;
		top : 40%;
		left :50%;
		margin-top: -50px;
		margin-left: -100px; 
        color:#ff9999	
}

