body
{
	background-image:url('https://as1.ftcdn.net/v2/jpg/04/53/32/76/1000_F_453327620_flLShRCUNtqoVMK3NyfJdKI1UnQ3DxBy.jpg');
	background-size: 50% ;
	background-repeat: no-repeat;
}
.c2
{
	position : fixed;
	top : 20%;
	left :55%;
	margin-top: -50px;
	margin-left: -100px; 
    color:#ff9999
}